// Version information, shown in the DLL's Properties > Details in Windows.
#include <winver.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VP_VERSION_RC
 PRODUCTVERSION VP_VERSION_RC
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Reynbow"
            VALUE "FileDescription", "VendorPlus: every vendor from Artifact Formation in CONTROL Resonant"
            VALUE "FileVersion", VP_VERSION
            VALUE "InternalName", "vendorplus"
            VALUE "LegalCopyright", "Copyright (C) 2026 Reynbow"
            VALUE "OriginalFilename", "vendorplus.dll"
            VALUE "ProductName", "VendorPlus"
            VALUE "ProductVersion", VP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
